<!DOCTYPE html>


<html>

<head>
    <title>404 Error</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png"


<head>

<body>
    <div class="main-content">
       {{>header}} 
       <Body background="/img/1540001.jpg"> <br> 
       <Body background: url(/web-server/public/img/1540001.jpg) no-repeact center
    center/cover <br>
       <p>{{errorMessage}}<p>
    </div>
  {{>footer}}


</body>

<html>